/*Home*/
body{
  background-image: radial-gradient(#FFFFFF,#000080);
}
.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #8B0000;
  color: #FFF;
  text-decoration: none;
  text-decoration-style: solid;
  padding: 1% 0;
  font-size: 1.2cm;
  align-self: center;
}
.navbar-brand{
  float: left;
  min-height: 30px;
  padding: 0px 15px 5px;
}
.navbar-inverse .navbar-nav .active a., .navbar-inverse . navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
align-items: center;
}
.navbar-inverse .navbar-nav li a {
  color: #DAA520;
  align-items: center;
}
.group-pic{
align-self: center;
}
nav li{
  text-align: center;
}
#container {
 width:50%;
 background:#FFFFCC;
}
.ul {
 float: right;
 width:49.9%;
}
/*.Roster{
  color: black;
}
.boys-roster{
  font-size: 20px;
  color: black;
}
.girls{
  float: right;
}
/*Calendar*/
h1{
  font-size: 50px;
  text-align: center;
  color: #DAA520;
}
@media screen (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/*Meets*/
table, th, td {
  align-content: center;
  border: 4px solid black;
}
.Meetthingy{
  color: black;
}
/*Practices*/
table, th, td {
table-layout: auto;
  text-align: center;
  font-size: 30px;
}
h2{
  font-size: 50px;
}
/*Remind*/
.remindthingy{
  background-image: linear-gradient(#FFFFFF,#FFFFFF);
}
/*all*/
