/*Home*/
.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #8B0000;
  color: #FFF;
  padding: 1% 0;
  font-size: 1.2cm;
}
.navbar-brand{
  float: left;
  min-height: 30px;
  padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a., .navbar-inverse . navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
color: #FFF;
background-color: #8B0000;
}
.navbar-inverse .navbar-nav li a {
  color: #D5D5D5;
}

.group-pic{
align-self: center;
}
/*Calendar*/
h1{
  align-content: center;
}
@media screen (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/*Meets*/
table, th, td {
  align-content: center;
  border: 4px solid black;
}
/*Practices*/
table, th, td {
table-layout: fixed;
  text-align: center;
  font-size: 30px;
}
/*Remind*/

/*all*/
