/*html*/
/*background design/ color*/
body {
  background-image: radial-gradient(#FFFFFF, #000080);
}

/*navigation*/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #8B0000;
  color: #FFF;
  text-decoration: none;
  text-decoration-style: solid;
  padding: 1% 0;
  font-size: 1.2cm;
  align-self: center;
}

.navbar-brand {
  float: left;
  min-height: 30px;
  padding: 0px 15px 5px;
}

.navbar-inverse .navbar-nav .active a., .navbar-inverse . navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  align-items: center;
}

.navbar-inverse .navbar-nav li a {
  color: #DAA520;
  align-items: center;
}

nav li {
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: black;
}

/*html end*/

/*Home*/
.coach {
  font-size: 25px;
  color: black;
}

div .color a {
  color: #8B0000;
}

/*Home end*/

/*Meets*/
.Meet {
  color: black;
}

.label {
  align-self: center;
  font-size: 30px;
  color: black;
}

/*Meets end*/

/*Practice*/
.location {
  font-size: 50px;
}
/*Practice end*/

/*Meets and Practice*/
table, th, td {
  align-content: center;
  border: 4px solid #191970;
}

td {
  color: #800000;
}

table, th, td {
  table-layout: auto;
  text-align: center;
  font-size: 30px;
}
/*Meets and Practice end*/

/*Remind*/
.remind {
  background-image: linear-gradient(#FFFFFF, #FFFFFF);
}

/*Remind end*/

/*Rosters page*/
.col-md-3 {
  float: right;
  font-size: 30px;
}
.boys {
  float: left;
}
.roster-list{
  color:#8B0000;
}

/*End of Rosters page*/

/*media queries*/
@media screen (max-width:900px) {
  .weekdays li, .days li {
    width: 30%;
  }
}

@media screen (max-width: 600px) {
  .weekdays li, .days li {
    width: 20%;
  }
}
  .days li .active {
    padding: 2px;
  }
}

/*end of media queries*/
